<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sample-app/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /CMCodeChallenge/index.php [L]
</IfModule>